<!DOCTYPE html>
<html>
     <meta name="description" content="Consulta  Restaurante" />
    <meta charset="utf8">
 <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
     <title>Consulta</title>
    
 
      

		<style type="text/css">

		body,html{
			height: 100%;
			width: 100%;
            min-height: 100%;
			background-color: rgb(77, 69, 69);
		}


		h1{
			font-family: 'Shadows Into Light', cursive;
			font-size: 3em;
			color: #f8f8cd;
            text-align: center;
            text-decoration:overline;
            
		}
	
            

               #estilo1 { 
            font-family: 'Shadows Into Light', cursive;
            font-size: 2em; 
            color: #e8e5eb; 
        } 
           

		</style>

    
    
   </head>
   <body>
       
                               
            
            
       <fieldset>     
            <legend><h1>Consulta por lista de restaurantes</h1></legend>
  <div>
      
     <from action="inicio.html"method="POST"> 
     <div id="estilo1">
   
   <label for="txtLista*">Seleccione el restaurante</label><br/>
          <select name="Restaurante">
          <option selected="selected"/></option>
          <option> A</option>
          <option> B</option>
          <option>  C</option>
          </select><br/>
  
 
     
             
              <div align="right">
              <align="right"><input type="button"name="Cancelar"value="Cancelar"/>
               <align="right"><input type="button"name="Aceptar"value="Aceptar"/>
               </div>
                    </div>
        </div>
           </div>
                  	
                        
                        </div>
                  </div>
         </div>
       
       
       
                   
                        
                  <fieldset>  
            <legend><h1>Consulta de restaurantes por tipo de comida</h1></legend>
                      <div>
      
     <from action="inicio.html"method="POST"> 
     <div id="estilo1">
   
    <label for="txttipocomida">Ingrese el tipo de comida</label><br/>
             <input type="text" size="30" maxlength="255" id="txtnombre" name="Ingrese el tipo de comida"/><br/>
         
                            
                            <div align="right">
              <align="right"><input type="button"name="Cancelar"value="Cancelar"/>
               <align="right"><input type="button"name="Aceptar"value="Aceptar"/>
               </div>
                    </div>
                      
                      <div>
                          </div>
           </div>
                  	
                        
                        </div>
            
                          
                          
         
                        
                  <fieldset>  
            <legend><h1>Consulta de restaurantes por pais</h1></legend>
                      <div>
      
     <from action="inicio.html"method="POST"> 
     <div id="estilo1">
   
  
                          <label for="txtpais">Ingrese el pais de origen</label><br/>
             <input type="text" size="30" maxlength="255" id="txtnombre" name="Ingrese el pais de origen"/><br/>
         
                            
                            <div align="right">
              <align="right"><input type="button"name="Cancelar"value="Cancelar"/>
               <align="right"><input type="button"name="Aceptar"value="Aceptar"/>
               </div>
                    </div>
                      
                      <div>
                          </div>
           </div>
                  	
                        
                        </div>
                          
                          <div>
            

                        
                  <fieldset>  
            <legend><h1>Consulta de restaurantes por nombre</h1></legend>
                      <div>                    
                              
     <from action="inicio.html"method="POST"> 
 
             <div id="estilo1">
        	
 <table width="50%" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td>
      

          
          <label for="txtnombre">Ingrese el nombre del restaurante</label><br/>
             <input type="text" size="30" maxlength="255" id="txtnombre" name="Ingrese el nombre restaurante"/><br/>
        
                <div align="right">
               <align="right"><input type="button"name="Cancelar"value="Cancelar"/>
               <align="right"><input type="button"name="Aceptar"value="Aceptar"/>
         <div>
               <div>
       
                <div>
       <div>
          
            
                        
              
                          
    </body>
 </html>